<html lang="ko">
	<head>
		<script type="module" src="../../assets/js/header.js"></script>
		<script type="module" src="../../assets/js/sign-in.js" defer></script>
		<script type="module" src="../../assets/js/logout.js" defer></script>
		<script type="module" src="../../assets/js/member-sign-out.js" defer></script>
		<script type="module" src="../../assets/js/pet-sitters-sign-out.js" defer></script>
		<link rel="stylesheet" type="text/css" href="../../assets/css/header.css" />
		<link rel="stylesheet" type="text/css" href="../../assets/css/default.css" />
	</head>
	<div id="header">
		<div class="h-left">
			<span class="logo">
				<a href="/">
					<img src="../../assets/Img/11-1.png" alt="Logo Image" class="logo-img" />
				</a>
			</span>
		</div>
		<div class="h-right">
			<button id="logout_btn">로그아웃</button>
			<a href="/user-sign-in">
				<button class="sign-in-btn">로그인</button>
			</a>
			<a href="/member-sign-up">
				<button class="sign-up-btn">회원가입</button>
			</a>
			<a href="/petSitter-sign-in">
				<button class="petsitter-sign-in">펫시터 로그인</button>
			</a>
			<a href="/member-my-profile">
				<button class="member-my-profile-btn">내 정보 조회</button>
			</a>

			<button class="sign-out-btn">회원탈퇴</button>
		</div>
	</div>
	<script></script>
</html>
