<html lang="ko">
	<head>
		<script type="module" src="../../assets/js/header.js"></script>
		<link rel="stylesheet" type="text/css" href="../../assets/css/header.css" />
		<link rel="stylesheet" type="text/css" href="../../assets/css/default.css" />
	</head>
	<div id="header">
		<div class="h-left">
			<span class="logo-title">
				<a href="/"> 안아줘 </a>
			</span>
		</div>
		<div class="h-right"></div>
	</div>
</html>
