<!doctype html>
<html lang="ko">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<script src="../../assets/js/member-sign-up.js"></script>
		<title>회원가입</title>
	</head>
	<body>
		<label for="email" name="email">이메일:</label>
		<input type="email" id="email" placeholder="이메일을 입력하세요." />
		<label for="password" name="password">비밀번호:</label>
		<input type="password" id="password" placeholder="비밀번호를 입력하세요." />
		<label for="confirmPassword" name="confirmPassword">비밀번호 확인:</label>
		<input type="password" id="confirmPassword" placeholder="비밀번호를 입력하세요." />
		<label for="name" name="name">이름:</label>
		<input type="text" id="name" placeholder="이름을 입력하세요." />
		<label for="age" name="age">나이:</label>
		<input type="number" id="age" placeholder="나이를 입력하세요." />
		<label for="imagePath" name="imagePath">이미지:</label>
		<input type="text" id="imagePath" placeholder="이미지를 입력하세요." />
		<label for="address" name="address">주소:</label>
		<input type="text" id="address" placeholder="주소를 입력하세요." />
		<button type="button" onclick="signup()">회원가입</button>
	</body>
</html>
