<!doctype html>
<html lang="ko">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<script type="module" src="../../assets/js/member-sign-out.js" defer></script>
		<script type="module" src="../../assets/js/member-my-profile.js " defer></script>
		<script type="module" src="../../assets/js/member-my-reservation.js " defer></script>

		<!-- <link rel="stylesheet" href="../../assets/css/member-my-profile.css" /> -->
		<script src="https://code.jquery.com/jquery-3.7.1.min.js"></script>

		<link rel="stylesheet" type="text/css" href="../../assets/css/default.css" />
		<link rel="stylesheet" type="text/css" href="../../assets/css/modify-petsitter-detail.css" />
		<link
			href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
			rel="stylesheet"
			integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC"
			crossorigin="anonymous"
		/>
		<script
			src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js"
			integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm"
			crossorigin="anonymous"
		></script>

		<title>내 정보 조회</title>
	</head>
	<body>
		<!-- <div class="container">
			<div id="gif-box">
				<div>
					<img
						src="https://plus.unsplash.com/premium_photo-1700567963303-1b83673c52a4?w=400&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxlZGl0b3JpYWwtZmVlZHwyfHx8ZW58MHx8fHx8"
						alt=""
					/>
				</div>
			</div>
			<form id="my-profile-form">
				<div id="email"></div>
				<div id="name"></div> -->
		<!-- <button id="signOut_btn" class="btn btn-outline-secondary" style="width: 40%; height: 40px" onclick="signOut()">
					회원탈퇴
				</button> -->
		<!-- </form>
		</div> -->
		<div style="width: 80%; height: 100%" ="headerWrap">
			<header class="header"><%- include('modify-header.ejs') %></header>
		</div>
		<div style="width: 100%; height: 10%"></div>
		<main>
			<!-- 프로필 보드 시작 -->
			<div class="petsitter-profile-wrab">
				<div style="width: 80%; height: 100%; margin-left: 10%" class="pet-sitter-img-wrab">
					<img src="../../assets/Img/6.png" alt="PetSitter-Img" class="petsitter-img" />
				</div>
				<div class="petsitter-info-wrab">
					<!-- <div style="width: 30%; height: 5%;"> -->
					<div class="petsitter-info-top userProfile">
						<div style="font-size: 40px; margin: 20px; width: 700px" class="petsitter-name" id="userName"></div>
						<!-- <div style="width: 30%; height: 1%"> -->
						<div style="font-size: 30px; margin: 20px; width: 700px" id="userEmail"></div>
						<div style="font-size: 30px; margin: 20px; width: 700px" class="petsitter-address" id="userAddress"></div>
						<div class="available-pet-wrab" id="userImagePath"></div>
						<button
							style="width: 37%; color: black; border: none"
							id="checkReservationBtn"
							class="btn btn-primary"
							type="button"
							data-bs-toggle="modal"
							data-bs-target="#exampleModal"
						>
							예약 정보 조회
						</button>
						<!-- Modal -->
						<div
							class="modal fade"
							id="exampleModal"
							tabindex="-1"
							aria-labelledby="exampleModalLabel"
							aria-hidden="true"
						>
							<div class="modal-dialog">
								<div style="border-radius: 30px; margin-top: 50%" class="modal-dialog modal-content">
									<div class="checkBox">
										<div class="modal-header">
											<h1 style="font-size: 30px" class="modal-title fs-5 checkReservationTitle" id="exampleModalLabel">
												예약 정보 조회하기
											</h1>
											<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
										</div>
										<div class="modal-body">
											<div class="reservationCheckWrap">
												<div class="reservationCheck">
													<div style="font-size: 20px; margin: 10px" id="petSitterName"></div>
													<div style="font-size: 20px; margin: 10px" id="reservationDate"></div>
													<div style="font-size: 20px; margin: 10px" id="status"></div>
												</div>
											</div>
										</div>
										<div class="modal-footer">
											<button type="button" id="modalCloseBtn" class="btn" data-bs-dismiss="modal">닫기</button>
										</div>
									</div>
								</div>
							</div>
						</div>
						<!-- 부트스트랩-->
					</div>
				</div>
			</div>
			<!-- 프로필 보드 끝 -->
			<!-- Button trigger modal -->
			<!-- 부트스트랩-->
		</main>
	</body>
	<script>
		document.addEventListener('DOMContentLoaded', () => {
			myProfile();
		});
	</script>
</html>
