<!doctype html>
<html lang="ko">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<link rel="stylesheet" href="../../assets/css/default.css" />
		<link rel="stylesheet" href="../../assets/css/modify-petsitter-detail.css" />
		<link rel="stylesheet" href="../../assets/css/header.css" />
		<link rel="stylesheet" href="../../assets/css/index.css" />

		<script type="module" src="../../assets/js/member-my-profile.js " defer></script>
		<script type="module" src="../../assets/js/sign-out.js" defer></script>
		<script type="module" src="../../assets/js/member-my-reservation.js " defer></script>
		<script type="module" src="../../assets/js/header.js " defer></script>
		<script src="https://code.jquery.com/jquery-3.7.1.min.js"></script>
		<link rel="stylesheet" type="text/css" href="../../assets/css/default.css" />
		<link rel="stylesheet" type="text/css" href="../../assets/css/modify-petsitter-detail.css" />

		<link
			href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
			rel="stylesheet"
			integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC"
			crossorigin="anonymous"
		/>
		<script
			src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js"
			integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm"
			crossorigin="anonymous"
		></script>

		<title>내 정보 조회</title>
	</head>
	<body>
		<div style="width: 80%; height: 100%" class="headerWrap">
			<header class="header"><%- include('modify-header.ejs') %></header>
		</div>
		<div class="petsitter-btn">
			<a href="/petsitter-sign-in">
				<button class="petsitter-sign-in">펫시터 로그인</button>
			</a>
			<div class="petsitter-signup">
				<a href="/petsitter-sign-up">
					<button id="petsitter-signup-btn">펫시터 가입하기</button>
				</a>
				<a href="/petsitter-my-profile">
					<button class="petsitter-my-profile-btn">펫시터 정보 조회</button>
				</a>
			</div>
			<button type="button" class="petsitter-sign-out-btn">펫시터 탈퇴</button>
		</div>
		<div style="width: 100%; height: 10%"></div>
		<main>
			<!-- 프로필 보드 시작 -->
			<div class="petsitter-profile-wrab">
				<div style="width: 80%; height: 100%; margin-left: 10%" class="pet-sitter-img-wrab">
					<img src="../../assets/Img/6.png" alt="PetSitter-Img" class="petsitter-img" />
				</div>

				<div class="petsitter-info-wrab">
					<div class="petsitter-info-top userProfile">
						<div style="font-size: 40px; margin: 20px; width: 700px" class="petsitter-name" id="userName"></div>
						<div style="font-size: 30px; margin: 20px; width: 700px" id="userEmail"></div>
						<div style="font-size: 30px; margin: 20px; width: 700px" class="petsitter-address" id="userAddress"></div>
						<div class="available-pet-wrab" id="userImagePath"></div>
					</div>
				</div>
			</div>
			<!-- 프로필 보드 끝 -->
			<div class="reservationCheckWrap">
				<div class="reservationCheck">
					<div class="reservationTitle">
						<h2>예약 스케줄 확인</h2>
					</div>
					<table class="table" id="reservationCheckTable">
						<thead>
							<tr>
								<th scope="col">예약번호</th>
								<th scope="col">펫시터 이름</th>
								<th scope="col">예약 스케쥴</th>
								<th scope="col">진행 상황</th>
								<th scope="col">신청 날짜</th>
								<th scope="col">취소</th>
							</tr>
						</thead>
						<tbody class="reservations">
							<tr>
								<td class="email"></td>
								<td class="name"></td>
								<td class="reservationDate"></td>
								<td class="createDate"></td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>
		</main>
	</body>
</html>
