<!doctype html>
<html lang="ko">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<script src="../../assets/js/member-my-profile.js"></script>
		<script src="../../assets/js/logout.js"></script>
		<script src="../../assets/js/member-sign-out.js"></script>
		<title>내 정보 조회</title>
	</head>
	<body>
		<div id="email"></div>
		<div id="name"></div>
		<button id="logout_btn">로그아웃</button>
		<button id="signOut_btn">회원탈퇴</button>

		<!-- <input type="text" name="password" id="password" /> -->
	</body>
</html>
