<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>Pet-Sitter</title>
		<link rel="stylesheet" type="text/css" href="../../assets/css/default.css" />
		<link rel="stylesheet" type="text/css" href="../../assets/css/petsitter-detail.css" />
		<link rel="stylesheet" type="text/css" href="../../assets/css/calendar.css" />
		<script src="https://code.jquery.com/jquery-3.7.1.min.js"></script>
		<script type="module" src="../../assets/js/petSitter-my-profile.js"></script>
	</head>
	<body>
		<header class="header"><%- include('header.ejs') %></header>
		<main>
			<!-- 프로필 보드 시작 -->
			<div class="petsitter-profile-wrab">
				<!-- <div class="pet-sitter-img-wrab">
					<img src="../../assets/Img/6.png" alt="PetSitter-Img" class="petsitter-img" />
				</div>
				<div class="petsitter-info-wrab">
					<div class="petsitter-info-top">
						<div class="petsitter-name">이름입니다.</div>
						<div class="petsitter-address">주소 입니다.</div>
						<div class="available-pet-wrab">Dog</div>
					</div>
					<div class="petsitter-info-bottom">
						<div class="petsitter-intro">여기에 자기소개가 들어갑니다.</div>
					</div>
				</div> -->
			</div>
			<!-- 프로필 보드 끝 -->
			<!-- 스케쥴 추가 시작 -->
			<div class="reservation-wrab">
				<h2 class="reservation-title">예약 가능 스케쥴 추가하기</h2>
				<form class="input-dates-wrab">
					<input type="text" placeholder="날짜를 클릭하세요 !" class="dates-input" readonly />
					<button class="dates-btn">추가하기</button>
				</form>
				<div class="reservation-calendar-wrab">
					<div class="this-month">
						<div class="sec_cal">
							<div class="cal_nav">
								<div class="year-month"></div>
							</div>
							<div class="cal_wrap">
								<div class="days">
									<div class="day">MON</div>
									<div class="day">TUE</div>
									<div class="day">WED</div>
									<div class="day">THU</div>
									<div class="day">FRI</div>
									<div class="day">SAT</div>
									<div class="day">SUN</div>
								</div>
								<div class="dates"></div>
							</div>
						</div>
					</div>
					<div class="next-month">
						<div class="sec_cal">
							<div class="cal_nav">
								<div class="next-year-month"></div>
							</div>
							<div class="cal_wrap">
								<div class="days">
									<div class="day">MON</div>
									<div class="day">TUE</div>
									<div class="day">WED</div>
									<div class="day">THU</div>
									<div class="day">FRI</div>
									<div class="day">SAT</div>
									<div class="day">SUN</div>
								</div>
								<div class="next-dates"></div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<!-- 스케쥴 삭제 시작-->
			<div class="reservation-wrab">
				<h2 class="reservation-title">예약 가능 스케쥴 삭제하기</h2>
				<form class="input-dates-wrab">
					<input type="text" placeholder="날짜를 클릭하세요 !" class="dates-input" readonly />
					<button class="dates-btn">삭제하기</button>
				</form>
				<div class="reservation-calendar-wrab">
					<div class="this-month">
						<div class="sec_cal">
							<div class="cal_nav">
								<div class="year-month"></div>
							</div>
							<div class="cal_wrap">
								<div class="days">
									<div class="day">MON</div>
									<div class="day">TUE</div>
									<div class="day">WED</div>
									<div class="day">THU</div>
									<div class="day">FRI</div>
									<div class="day">SAT</div>
									<div class="day">SUN</div>
								</div>
								<div class="dates"></div>
							</div>
						</div>
					</div>
					<div class="next-month">
						<div class="sec_cal">
							<div class="cal_nav">
								<div class="next-year-month"></div>
							</div>
							<div class="cal_wrap">
								<div class="days">
									<div class="day">MON</div>
									<div class="day">TUE</div>
									<div class="day">WED</div>
									<div class="day">THU</div>
									<div class="day">FRI</div>
									<div class="day">SAT</div>
									<div class="day">SUN</div>
								</div>
								<div class="next-dates"></div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<!-- 달력 끝 -->
		</main>
	</body>
</html>
