<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>문서</title>
		<link rel="stylesheet" type="text/css" href="../../assets/css/default.css" />
		<link rel="stylesheet" type="text/css" href="../../assets/css/petsitter-profile.css" />
		<script src="https://code.jquery.com/jquery-3.7.1.min.js"></script>
		<script type="module" src="../../assets/js/petsitter-profile.js"></script>
	</head>

	<body>
		<!-- header -->
		<header class="header"><%- include('header.ejs') %></header>

		<main>
			<div class="profile-box">
				<div class="profile-img"></div>
				<div class="profile-text">
					<div class="profile-text-name">닉네임</div>
					<div class="profile-text-intro">자기소개 입니다.</div>
				</div>
			</div>
		</main>
	</body>
</html>
