<!doctype html>
<html lang="ko">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<script src="../../assets/js/petSitter-my-profile.js"></script>
		<title>내 정보 조회</title>
	</head>
	<body>
		<div id="email">asd</div>
		<div id="name">asd</div>
	</body>
</html>
