/* header{
  background-color: #fff; 
} */

#header {
	display: flex;
	justify-content: space-between;
	padding: 12px 0;
	width: 1680px;
	margin: 0 auto;
}

.h-left {
	display: flex;
	align-items: center;
}

.h-left span {
	margin-right: 3rem;
}

.h-left .logo-img {
	width: 150px;
	width: 150px;
}

.h-left .logo-title a {
	color: #000;
}

.h-left .nav-item a {
	color: #d64553;
	font-size: 15px;
}

.h-right {
	display: flex;
	align-items: center;
}

.h-right button {
	height: 60px;
	padding: 10px 45px;
	font-size: 15px;
	margin-left: 15px;
}

.h-right .sign-in-btn {
	border: 1px solid #feeb84;
	background-color: #feeb84;
	border-radius: 0.4rem;
	color: black;
}

.sign-in-btn:hover {
	background-color: #fbf3c3;
	cursor: pointer;
}

.h-right .sign-up-btn {
	border: 1px solid #82d9fa;
	background-color: #82d9fa;
	border-radius: 0.4rem;
	color: black;
}

.sign-up-btn:hover {
	background-color: #b6eaff;
	cursor: pointer;
}

.h-right .petsitter-sign-in {
	border: 1px solid #feeb84;
	background-color: #feeb84;
	border-radius: 0.4rem;
	color: black;
}

.petsitter-sign-in:hover {
	background-color: #fbf3c3;
	cursor: pointer;
}
