.petsitter-profile-wrab {
	display: flex;
	flex-direction: row;
	width: 1680px;
	height: 700px;
	margin: 20px auto;
}

.petsitter-img {
	border-radius: 30px;
}

.petsitter-info-wrab {
	margin-left: 80px;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	width: 50%;
	height: auto;
	display: flex;
	justify-content: space-between;
}

.petsitter-info-top {
	height: 30%;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

.petsitter-name {
	font-size: 40px;
}

.petsitter-address {
	font-size: 20px;
}

.available-pet-wrab {
	font-size: 20px;
}

.petsitter-info-bottom {
	height: 50%;
	font-size: 20px;
}

.reservation-wrab {
	width: 1680px;
	height: 1000px;
	margin: 0 auto 50px;
	display: flex;
	flex-direction: column;
}

.reservation-add-title {
	color: #58d0ff;
	margin: 50px 0px 30px 0px;
	font-size: 40px;
}

.reservation-delete-title {
	color: #d64553;
	margin: 50px 0px 30px 0px;
	font-size: 40px;
}

.reservation-calendar-wrab {
	height: 100%;
	display: flex;
	flex-direction: row;
	justify-content: space-around;
}

.this-month {
	width: 45%;
	background-color: #feeb84;
	border-radius: 25px;
}

.next-month {
	width: 45%;
	background-color: #d1e6ee;
	border-radius: 25px;
}

.input-dates-wrab {
	width: auto;
	display: flex;
	align-items: center;
	margin: 0 auto 25px;
}

.dates-input {
	height: 50px;
	width: 700px;
	border: none;
	border-bottom: 1px solid #c5c5c5;
	outline: none;
	font-size: 20px;
}

.dates-btn {
	order: 1px solid #feeb84;
	background-color: #feeb84;
	border: none;
	border-radius: 0.4rem;
	color: black;
	height: 50px;
	padding: 10px 45px;
	font-size: 20px;
	margin-left: 15px;
}

.dates-btn:hover {
	background-color: #ffefb4;
	cursor: pointer;
	transition: 0.2s;
}

.dates-add-btn {
	order: 1px solid #feeb84;
	background-color: #feeb84;
	border: none;
	border-radius: 0.4rem;
	color: black;
	height: 50px;
	padding: 10px 45px;
	font-size: 20px;
	margin-left: 15px;
}

.dates-add-btn:hover {
	background-color: #ffefb4;
	cursor: pointer;
	transition: 0.2s;
}
